<?xml version="1.0"?>
<launch>
  ###########  launch config  ###########
  <arg name="type" default="quad" />
  <arg name="headless" default="false" />
  <arg name="onboards_model"  default = "euclid_201709" />
  <arg name="robot_ns" value="dragon" />
  <arg name="hx" default="0.2" />
  <arg name="hy" default="0.0" />
  <arg name="hz" default="0.2" />
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="0.2" />

  ###########  Robot Model  ###########
  <include file="$(find aerial_robot_model)/launch/aerial_robot_model.launch" >
    <arg name="headless" value="$(arg headless)" />
    <arg name="robot_model" value="$(find dragon)/robots/$(arg type)/$(arg onboards_model).urdf.xacro" />
    <arg name="robot_ns" value="$(arg robot_ns)" />
    <arg name="rviz_config" value="$(find differential_kinematics)/config/hri/handover.rviz" />
    <arg name="rviz_init_pose" value="$(find dragon)/config/$(arg type)/RvizInit.yaml" />
    <arg name="need_joint_state" value="false"/>
  </include>

  ###########  Differential Motion Planner  ###########
  <node pkg="differential_kinematics" type="se3_end_effector_ik_node" name="end_effector_ik_node"  output="screen"  ns="$(arg robot_ns)">
    <param name = "tf_prefix" value = "$(arg robot_ns)" />
    <rosparam file="$(find dragon)/config/$(arg type)/RvizInit.yaml" command="load" />
    <rosparam file="$(find differential_kinematics)/config/dragon/$(arg type)/EndEffectorIK.yaml" command="load" />
  </node>

  <!-- Launch interactive marker node -->
  <node pkg="differential_kinematics" type="interactive_marker.py" name="interactive_marker" output="screen">
      <param name="frame_id" value="world" />
  </node>

  <!-- Launch pose transformer node -->
  <node pkg="differential_kinematics" type="pose_transformer_copy.py" name="pose_transformer" output="screen">
      <param name="handover_dis_x" value="$(arg hx)" />
      <param name="handover_dis_y" value="$(arg hy)" />
      <param name="handover_dis_z" value="$(arg hz)" />
      <param name="handover_roll" value="$(arg roll)" />
      <param name="handover_yaw" value="$(arg yaw)" />
      <param name="handover_pitch" value="$(arg pitch)" />
  </node>

</launch>
